.receipt {
  width: 50%;
  margin: 32px auto;
}

.logo {
  display: flex;
  justify-content: center;
}

.table-container {
  display: flex;
  justify-content: center;
}

.submit-row {
  margin-top: 24px;
}

.receipt {
  margin-top: 100px;
}
